@model  Renting.Interface.IEquipmentViewModel
@{

    ViewBag.Title = "Home Page";
}


<!-- Page Header -->
<header class="masthead mt-0" style="background-image: url('/Images/bg.jpg')">


    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="row">
                <div class="col-xl-12 mx-auto">
                    <h1 class="site-heading mb-0">What construction equipment do you need ?</h1>
                </div>
                <div class="col-md-12 mx-auto">
                    @using (Html.BeginForm("SearchEquipment", "Equipment", FormMethod.Get))
                    {
                        <div class="form-row">
                            <div class=" col-md-10 mb-2 mb-md-5">
                                <input type="text" class="form-control form-control-lg" name="equipmentDescription"
                                       placeholder="Caterpillar Bulldozer ">
                            </div>


                            <div class=" col-md-2">
                                <button type="submit" class="btn btn-block btn-lg btn-primary">
                                    <span class="fa fa-search"></span>
                                </button>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</header>

<section id="jobs">
    <div class="container">
        @if (!string.IsNullOrEmpty(ViewBag.Message))
        {
            <div class="alert alert-success">
                <i class="fa fa-information"></i> @ViewBag.Message</div>
        }


        @if (ViewContext.ViewData.ModelState.Any())
        {
            <div class="alert alert-danger">
                <i class="fa fa-information"></i> @Html.ValidationSummary(false)</div>
        }



        @if (Model.Equipments.Any())
        {
            <div class="row mb-4">

                @foreach (var equipment in Model.Equipments)
                {
                    <div class="col-6 my-3">

                        <div class="card">
                            <div class="card-body">
                                @using (Html.BeginForm("Index", "Home", FormMethod.Post))
                                {
                                    @Html.AntiForgeryToken()
                                    @EquipmentTypeDisplayHelper.Equipment(equipment)
                                }
                            </div>
                        </div>


                    </div>
                }



            </div>
        }
        else
        {
            <div class="alert alert-danger"><span class="fa fa-exclamation-circle"></span> No equipment found, Please try again</div>
        }



    </div>

</section>